body {
    background-color: rgb(148, 171, 235);
}

.cabecalho {
    background-color: rgba(27, 40, 226, 0.575);
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

.imgcentro {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}

li a {
    text-decoration: none;
    color: black;
}

button {
    font-size: 16px;
    color: rgb(122, 180, 228);
}

.rodape {
    background-color: rgba(14, 101, 231, 0.918);
    color: black;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.imagem{
  width: 190px; 
  height: auto; 
  border-radius: 10px; 
  object-fit: cover; 
  display: inline-block;
}

 img {
    width: 200px;
   height: 200px;
   object-fit: cover; /* Mantém a proporção e recorta a imagem se necessário */
 }

 @media (max-width:758px) {
     body{
     font-size: 80px;
    }
 }