body { 
    background-color:rgb(148, 171, 235);
}

.cabecalho{
    background-color: rgba(27, 40, 226, 0.575);
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 13px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {

}

.imgcentro {
width: 300px;   
    height: 200px; 
    object-fit: cover;
}

li{
    display: inline-block;
}

li a{
    font-size: 50px;
    color: black;
}

button{
    font-size: 16px;
    color: rgb(122, 180, 228);
}
